# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
coverage/
.tmp/

# =========================
# .NET Build
# =========================
bin/
obj/
*.user
*.suo
*.cache
*.log

# =========================
# Build Artifacts
# =========================
*.exe
*.dll
*.pdb

# =========================
# Environment Files
# =========================
.env
*.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# System Files
# =========================
.DS_Store
Thumbs.db
